@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
}
#country-table{
    border-collapse: collapse;
    width: 100%;
    position: relative;   
    th{
        font-size: 1.3rem;
        width: 14.2%;
        background-color: rgb(56, 56, 56);
        color: white;
        position: sticky;
        top: 0;
        border: none;
    }
    td, th{
        padding: 13px;
    }
    td{
        border: 1px solid rgb(207, 207, 207);
    }
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    img{
        width: 30px;
        &:hover{
            position: absolute;
            transition: 0.5s;
            width: 300px;
        }
    }
}
.filters-container{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 5px;
    form{
        margin: 0;
    }
    input{
        font-size: 1.1rem;
        padding: 8px;
        margin-top: 1rem;
    }
    label{
        margin-right: 2rem;
    }
    .clear-btn{
        background-color: rgb(255, 129, 38);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            transition: all 0.5s;
            background-color: chocolate;
            color: white;
        }
    }
}

.radio-style {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .radio-mark:after{
        top: 8px;
        left: 8px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: white;
    }
  } 
  .radio-mark {
    position: absolute;
    top: 8;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    &::after{
        content: "";
        position: absolute;
        display: none;
    }
  }

  .radio-style:hover input ~ .radio-mark {
    background-color: lightgreen;
  }

  .radio-style input:checked ~ .radio-mark {
    background-color: green;
  }

  .radio-style input:checked ~ .radio-mark:after {
    display: inline-block;
  }
  @media only screen and (max-width: 600px) {
    .radio-style input:checked ~ .radio-mark:after {
        display: block;
      }
      .radio-style{
          display: block;
      }
  }
  @media only screen and (max-width: 350px) {
      input{
          width: 100%;
      }
  }